<!-- Landing Section -->
<section class="header" id="landing">
    <div class="wrapper">
        <img src="assets/logos/Gold-Gradient.png" alt="">
        <p>Where Faith Anchors Greatness</p>
        <a href="#about" class="cta">↓</a>
    </div>
</section>  

<!-- About Section -->
<section class="about" id="about">

    <div class="wrapper">
        <div class="panel">
            <img src="assets/logos/Gold-Gradient.png" alt="">
            <h2>Representation with Integrity</h2>
            <p>
                We advocate for our athletes with honesty, transparency, and professionalism — ensuring every contract, deal, and partnership aligns with both their goals and values.
            </p>
        </div>

        <div class="panel">
            <img src="assets/logos/Gold-Gradient.png" alt="">

            <h2>Career Development & Guidance</h2>
            <p>
                From draft day to retirement, we provide mentorship, resources, and strategic planning to help athletes maximize their God-given talents on and off the field.
            </p>
        </div>
        <div class="panel">
            <img src="assets/logos/Gold-Gradient.png" alt="">
            <h2>Faith & Character Support</h2>
            <p>
                We walk alongside our athletes spiritually and personally, encouraging growth in character, leadership, and faith as they navigate the demands of professional sports.
            </p>
        </div>

        <div class="panel">
            <img src="assets/logos/Gold-Gradient.png" alt="">

            <h2>Legacy Beyond the Game</h2>
            <p>
                We help athletes build platforms that last — empowering them to give back, inspire others, and create impact far beyond their playing careers.
            </p>
        </div>
    </div>

</section>

<!-- Services Section -->
<section class="services" id="services">
    <h1>Our Services</h1>
    <div class="wrapper">
        <div class="service"
             style="background-image: url('/assets/images/services/hairdressing-1.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Hairstyling</p>
        </div> 
        <div class="service"
             style="background-image: url('/assets/images/services/catering-3.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Catering</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/barbing-3.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Barbing</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/photography.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Photography</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/liveband.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Live Band</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/floristry.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Floristry</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/decor-1.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Decor</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/beauty.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Beauty</p>
        </div>
        <div class="service"
             style="background-image: url('/assets/images/services/baking.jpg'); grid-column: span 1; grid-row: span 1;">
            <p>Baking</p>
        </div>
    </div>
        <a href="#services" class="cta">↓</a>

</section>

<div class="faq-section" id="faq">
  <header>
    <h1>FAQs</h1> 
    <p>Answers to the most frequently asked questions.</p>
  </header>
   
  <div class="wrapper">

    <details name="question">
        <summary>
        <h4>What types of events do you specialise in?</h4>
        <span class="material-symbols-outlined">↓</span>  
        </summary>
        <p>We specialize in a wide range of events, including weddings, birthday parties, corporate events, anniversaries and themed parties. Our team can bring creativity and expertise to and any event you envision.</p>
    </details> 
    
    <hr/>
    
    <details name="question">
        <summary>
        <h4>Can you help with both small and large events?</h4>
        <span class="material-symbols-outlined">↓</span>  
        </summary>
        <p>Yes, we handle events of all sizes! Whether you're planning an intimate gathering or a large celebration, out team will work with you to create a memorable experience tailored to your needs.</p>
    </details>
    
    <hr>
    
    <details name="question">
        <summary>
        <h4>Do you offer customizable event packages?</h4>
        <span class="material-symbols-outlined">↓</span>  
        </summary>
        <p>Absolutely! We provide customizable event packages to fit your budget and preferences. From full-service planning to a la carte options, we ensure your event aligns with your vision and needs.</p>
    </details>
    
    <hr>
    
    <details name="question">
        <summary>
        <h4>How far in advance should I book your services?</h4>
        <span class="material-symbols-outlined">↓</span>  
        </summary>
        <p>We recommend booking our services as early as possible, especially for larger events, to ensure availability and sufficient time for planning. However, we are also equipped to handle short-notice events when needed.</p>
    </details>
    
    <hr>

  </div>


</div>
  
<!-- Services Section -->
<section class="contact" id="contact">
    <h1>Contact Us</h1>

    <div id="success">
        <h1>Thank you, your request has been submitted</h1>
    </div>

    <div class="form-wrapper">
            <div class="contact-details">
                <div class="email-info">
                    <h3>Email:</h3>
                    <p>admin&#64;bondservantsuk.com</p>
                </div>
                <div class="tel-info">
                    <h3>Telephone:</h3>
                    <p>07368&nbsp;506&nbsp;462</p> 
                </div> 
            </div>
            <div class="form" id="form">
                <form #form="ngForm" action="" (ngSubmit) = "submit(form)">
                    <div class="form-elem">
                        <input required #name="ngModel" ngModel type="text" name="name" id="name" placeholder="Full Name">
                        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                            <p class="error" *ngIf="name.errors?.['required']">Name Required!</p>
                        </div>
                    </div>
                    <div class="form-elem">
                        <input required #email="ngModel" ngModel type="email" name="email" id="email" placeholder="Email Address">
                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                            <p class="error"*ngIf="email.errors?.['required']">Email Required!</p>
                        </div>
                    </div>
                    <div class="form-elem">
                        <input required #tel="ngModel" ngModel type="tel" name="tel" id="tel" placeholder="Telephone">
                        <div *ngIf="tel.touched && tel.invalid" class="alert alert-danger">
                            <p class="error"*ngIf="tel.errors?.['required']">Number Required!</p>
                        </div>
                    </div>
                    <div class="form-elem">
                        <textarea required #message="ngModel" ngModel type="textarea" name="message" placeholder="Message"></textarea>
                        <div *ngIf="message.touched && message.invalid" class="alert alert-danger">
                            <p class="error"*ngIf="message.errors?.['required']">Message Required!</p>
                        </div>
                    </div>
                    <input type="submit" [disabled]="form['invalid']" value="Submit" class="submit">
                </form>
            </div>
    </div>
</section>